.flex-container-1{
    background-color: #1F2937;
    width: 1500px; 
    height: 500px;  
    margin-left: auto;
    margin-right: auto;
    border-radius:  15px;
    
    
}



.flex-container-3{
    display:flex;
    flex-direction:row;
    height: 250px;
    flex-basis: 40px;



}
.another-flex-container{
    display:flex;
    flex-direction: row;
}

.flex-container-2{
    display:flex;
    flex-direction: column;
    flex:auto; 
    color:white; 
    


}

.item{
    flex:auto; 
    justify-content: end;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    /*padding influences distance between text material and border of div*/
    padding:15px;
    
    

}



.flex-container-4{
   
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 1000px;
    /*To be honest, no idea why this works for centering.*/
    margin-left: auto;
    margin-right: auto;


}

.item-2{
    flex:auto; 
    justify-items: center;
    margin: 10px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    flex-direction:column; 




}

.text{

    margin:15px;
}


.subitem{
    outline:5px solid #3882F6;
    width:150px;
    height: 150px;
    /*gives rounded corners*/
    border-radius: 20px;
    flex:auto;


}



.item-1 {
    font-size: small;
    /*needs margin to change distance between objects*/
    /*Didn't use flex so that items aren't automatically spaced apart.*/
    margin: 10px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    right: 0; 
    color:white; 


}

.RandomInfo{
    /*Centering works pretty easily with flex when the div doesn't encommpass other shit*/
    display:flex; 
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large; 
}


.flex-container-gray{

    display:flex; 
    background-color:#E5E7EB;
    width: 1500px; 
    height: 500px;  
    margin-left: auto;
    margin-right: auto;
    justify-content: center; /* Horizontal centering */
    align-items: center;   /* Vertical centering */
    text-align: center;    /* Ensure text is centered within each line */
    border-radius: 15px;
    font-size: larger;


}
.flex-container-blue{

    display:flex;
    background-color: #3882F6;
    width:1000px; 
    height: 250px;
    margin:100px;
    flex-direction: row;
    border-radius: 15px;  
    margin-left: auto;
    margin-right: auto;
    justify-content: center; /* Horizontal centering */
    align-items: center;   /* Vertical centering */
    text-align: center;    /* Ensure text is centered within each line */
    border-radius: 15px



}

.internal-container-1{
    flex:auto; 
    flex-direction: column;
    display: flex;
}

.textItem{
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}

.internal-container-2{
    outline:10px solid white;

}